.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/399d6794-b770-4b21-992d-a3326710a170/fb1d9e40-2ff9-45b5-bf0a-2807f904c104/CA-en-20210215-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.loginScreen_Logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
  text-align: center;
}

.loginScreen_Button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  background-color: #e50914;
  font-size: 1rem;
  color: #fff;
  font-weight: 550;
  border: none;
  cursor: pointer;
}
.loginScreen_Gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.loginScreen_Body > h1 {
  font-size: 3.125rem;
  margin-left: 20px;
}
.loginScreen_Body {
  position: absolute;
  top: 30%;
  z-index: 3;
  color: #fff;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
.loginScreen_Body > h2 {
  font-size: 2rem;
  font-weight: 410;
  margin-bottom: 30px;
}
