.row {
  color: white;
  margin-left: 20px;
  animation: fadeIn 2.3s ease-in 0.01s;
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row_posters::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
.row_poster {
  max-height: 200px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 460ms;
}
.row_poster:hover {
  transform: scale(1.1);
  opacity: 1;
}

.row_posterLarge {
  max-height: 280px;
}
@keyframes fadeIn {
  5% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  100% {
    transform: translateY(0);
  }
}
@keyframes scaleIn {
  100% {
    transform: scaleX(1);
  }
}
